h1 Edit question

form
  div.line
    label Title
    input(type='text', name='description')
  div.line
    label Type
    select(name='type')
      option(value='1') Single choice
      option(value='2') Multiple choice
      option(value='3') Text only

  div.line
    input.button(type='submit') Save

h2 Options

a.add-option(href='#') Add option

div.options