@import './mixin'

// Layout
// ----------------------------------------------------------------------------

@keyframes spinnerRotate
  from
    -webkit-transform rotate(360deg)
  to
    -webkit-transform rotate(0deg)

*
  margin 0

html, body
  height 100%
  
.page
  min-height 100%
  height auto !important
  height 100%
  padding 20px
  color #eee
  overflow auto
  position absolute
  left 0px
  top 0px
  right 0px
  background url(/images/linen.jpg)

loaderSize = 50px
body > div.loader
  width loaderSize
  height loaderSize
  background red
  position fixed
  top 50%
  left 50%
  margin-left -(loaderSize/2)
  margin-top -(loaderSize/2)
  background url(/images/spinner.png) no-repeat center center
  -webkit-animation-name spinnerRotate
  -webkit-animation-duration 0.5s
  -webkit-animation-iteration-count infinite
  -webkit-animation-timing-function linear


body
  background url(/images/linen.jpg)

div.background-logo
  width 190px
  height 44px
  position fixed
  top 10px
  left 50%
  margin-left -95px
  top 60%
  background url(/images/logo.png)
  opacity 0.1
  -webkit-filter blur(0px)
  -webkit-transition: -webkit-filter 0.5s linear, opacity 0.5s linear, -webkit-transform 1s linear;
  -webkit-transform: scale(1)
  
  &.hidden
    -webkit-filter blur(50px)
    opacity 0
    -webkit-transform: scale(10)

div.login-status
  position absolute
  top 10px
  right 10px

div.buttons
  position fixed
  bottom 30px

  a.button
    margin-right 10px

h1.error
  text-align center
  position fixed
  top 30%
  width 100%
  font-weight 600
  color darken(#393A3C, 10)
  text-shadow 0 1px 0px rgba(255, 255, 255, 0.15)

// Typo
// ----------------------------------------------------------------------------

body, input
  font-family 'Helvetica Neue', 'Helvetica', 'Arial'
  font-size 13px

h1
  font-weight 400

h2
  font-weight 200

a
  color #fff

// Elements
// ----------------------------------------------------------------------------

// Forms
form
  div.line
    padding 5px
    
    label
      width 100px
      float left
      padding-top 14px
    
    input
      padding 10px
      width 150px
      
// Buttons
.button
  background #3F6AC2
  border none
  font-size 14px
  font-weight 400
  color #fff
  padding 10px 15px
  cursor pointer

// Views
// ----------------------------------------------------------------------------

// Login
div.login
  background #fff
  box-shadow(2px 2px 15px rgba(0,0,0,0.5))
  position absolute
  left 50%
  margin-left -150px
  margin-top 200px
  width 300px
  color #000
  padding 10px
  transform(scale(1))
  opacity 1
  // -webkit-transition opacity 0.3s linear, -webkit-transform 0.3s linear
  
  h1
    text-align center
    margin 0
  
  &.hidden
    -webkit-transform scale(1)
    opacity 0

div.login
  h1.failed
    display none
    color red

  &.loading
    background #fff url('/images/loader.gif') no-repeat center center
    
    form
      visibility hidden
    
  &.failed
    h1.default
      display none
    h1.failed
      display block

// List

div.list
  h1
    font-weight 200
    font-size 30px
    color #969697
    text-shadow 0px 1px 1px #000

// Course list
ul.course-list
  list-style-type none
  margin-top 20px
  margin-bottom 20px
  font-size 14px
  font-weight 500
  text-shadow 0px 1px 1px #000
  
  li
    padding 1px 0 2px 30px
    background url(images/course.png) no-repeat 3px 0px
    cursor pointer
    margin-bottom 15px
    border-box()
    height 20px
    
    &.add-course
      color #8c8c8c
      background url(images/add-button.png) no-repeat 0px 0px

.edit ul.course-list li:not(.add-course)
  background url(images/delete-button.png) no-repeat 0px 0px

// Add course
li.add-course
  input
    display none
    background transparent
    border-radius(3px)
    border 1px solid #666
    padding 3px 5px 3px 5px
    font-size 14px
    font-weight 500
    text-shadow 0px 1px 1px #000
    color #fff
    position relative
    top -4px
    left -6px
  input::-webkit-input-placeholder
    color #888
    opacity 0.5
  span
    display block
  
  &.active
    input
      display block
    span
      display none