@import './mixin'

/// Special
/// ---------------------------------------------------------------------------

div.left
  float left
  width 35%

  &.bordered
    border-right 1px solid #ccc

div.right
  padding-left 20px
  float left
  width 40%

  h2
    margin-top 10px

.clearfix
  clearfix()

/// Layout
/// ---------------------------------------------------------------------------

@keyframes spinnerRotate
  from
    -webkit-transform rotate(360deg)
  to
    -webkit-transform rotate(0deg)

halflingMargin = 80px

*
  margin 0

html, body
  height 100%
  background url(/images/linen.jpg)
  overflow-x none

errorColor = #ab2424
div.error-message
  position absolute
  top 0
  left 0
  width 100%
  vbg-gradient(errorColor, darken(errorColor, 5))
  z-index 999
  color #fff
  text-align center
  font-size 13px
  font-weight 500
  padding 10px
  box-shadow(0px 1px 1px rgba(0,0,0,0.3))

lightPageBackground = #ededed
.page
  min-height 100%
  height auto !important
  height 100%
  padding 20px
  border-box()
  color #eee
  overflow auto
  overflow-x none
  position absolute
  left 0px
  top 0px
  right 0px
  background url(/images/linen.jpg)
  background-attachment fixed
  z-index 10

  &.has-header
    padding-top 55px


  &.light
    background lightPageBackground
    color #000

    a
      color #000

  &.halfling
    left halflingMargin
    box-shadow(-10px 0px 20px rgba(0,0,0,0.5))

loaderSize = 50px
body > div.loader
  width loaderSize
  height loaderSize
  background red
  position fixed
  top 50%
  left 50%
  margin-left -(loaderSize/2)
  margin-top -(loaderSize/2)
  background url(/images/spinner.png) no-repeat center center
  -webkit-animation-name spinnerRotate
  -webkit-animation-duration 0.5s
  -webkit-animation-iteration-count infinite
  -webkit-animation-timing-function linear


body
  background url(/images/linen.jpg)

div.background-logo
  width 190px
  height 44px
  position fixed
  top 10px
  left 50%
  margin-left -95px
  top 70%
  background url(/images/logo.png)
  opacity 0.1
  -webkit-filter blur(0px)
  -webkit-transition: -webkit-filter 0.5s linear, opacity 0.5s linear, -webkit-transform 1s linear;
  -webkit-transform: scale(1)

  &.hidden
    -webkit-filter blur(50px)
    opacity 0
    -webkit-transform: scale(10)

div.buttons
  position fixed
  bottom 30px

  a.button
    margin-right 10px

h1.error
  text-align center
  position fixed
  top 30%
  width 100%
  font-weight 600
  color darken(#393A3C, 10)
  text-shadow 0 1px 0px rgba(255, 255, 255, 0.15)

.halfling-close
  position absolute
  left 0
  width halflingMargin
  background rgba(0,0,0,0.3)
  top 0
  height 100%
  z-index 200

/// Typo
/// ---------------------------------------------------------------------------

body, input
  font-family 'Helvetica Neue', 'Helvetica', 'Arial'
  font-size 13px

h1
  font-weight 200
  font-size 30px
  color #969697
  text-shadow 0px 1px 1px #000

h2
  font-weight 200
  &.margined
    margin-bottom 7px

a
  color #fff

.page.light
  color #000
  h1
    color #000
    text-shadow none

.h2link
  margin-left 5px
  position relative
  top 2px

/// Elements
/// ---------------------------------------------------------------------------

/// Forms
form
  div.line
    padding 5px

    &.center
      text-align center

  label
    width 100px
    display block
    padding-top 5px
    color #8b8b8b
    margin-bottom 5px

  input[type=text], input[type=password]
    display block
    width 220px
    color #000

/// Dark form

form
  input[type=text], input[type=password]
    background rgba(20, 20, 20, 0.4)
    border none
    border-bottom 1px solid rgba(255, 255, 255, 0.15)
    inset-box-shadow(0px 1px 3px rgba(0,0,0,0.4))
    color #fff
    font-weight bold
    padding 12px 15px
    &:focus
      outline none

/// Light form

.page.light form
  input
    background darken(#fff, 2)
    color #000

/// Buttons

buttonColor = darken(#686869, 2)
buttonPrimaryColor = lighten(#686869, 5)
.button
  vbg-gradient(buttonColor, darken(buttonColor, 10))
  border-radius(3px)
  box-shadow(0px 1px 2px rgba(0,0,0,0.3))
  border none
  font-size 13px
  font-weight 500
  text-shadow 0px 1px 0px rgba(0,0,0,0.5)
  color #fff
  padding 12px 20px
  cursor pointer
  &.primary
    vbg-gradient(buttonPrimaryColor, darken(buttonPrimaryColor, 10))

buttonLightColor = lighten(#444, 20)
buttonLightPrimaryColor = #4D72B0
.page.light
  .button
    box-shadow(none)
    background none
    border 1px solid buttonLightColor
    color darken(buttonLightColor, 100)
    text-shadow none

    &.primary
      background buttonLightPrimaryColor
      color #fff
      border 1px solid buttonLightPrimaryColor

.inline-buttons
  .button
    padding 5px
    text-decoration none

/// Box
boxWidth = 300px
div.box
  background #fff
  box-shadow(2px 2px 15px rgba(0,0,0,0.5))
  position absolute
  left 50%
  margin-left -(boxWidth/2)
  margin-top 200px
  width boxWidth
  color #000
  padding 10px
  padding-bottom 15px
  transform(scale(1))
  opacity 1
  border-radius(5px)
  // -webkit-transition opacity 0.3s linear, -webkit-transform 0.3s linear

  h1
    text-align center
    margin 15px 0 5px 0
    color lighten(#323232, 5)
    text-transform uppercase
    font-size 22px
    font-weight 400
    text-shadow none

  form
    padding 0 20px

    label
      font-size 11px
      font-weight 500

    input[type=text], input[type=password]
      width 215px
      background darken(#fff, 5)
      inset-box-shadow(0 1px 3px rgba(0,0,0,0.3))
      border none
      color #000

    .button
      vbg-gradient(#627ebf, #3f5997)
      border-radius(5px)
      padding 10px 25px
      font-weight 500
      font-size 13px
      display inline-block
      text-shadow 0px 1px 0px rgba(0,0,0,0.5)

  a
    color black

  &.hidden
    -webkit-transform scale(1)
    opacity 0

a.boxlink
  position absolute
  bottom 40px
  left 0
  width 100%
  display block
  text-align center
  font-size 12px
  color darken(#fff, 50)
  padding-left 10px
  border-box()

.loading .box
  background #fff url('/images/loader.gif') no-repeat center center

  form
    visibility hidden

/// Views
/// ---------------------------------------------------------------------------

/// Login status

div.login-status
  position absolute
  top 30px
  right 10px
  width 160px
  text-shadow 0px 1px 0px #000
  font-size 12px
  line-height 1.4

  a
    text-decoration none

  img.avatar
    width 34px
    border 2px solid #b1b2b3
    border-radius(5px)
    box-shadow(0px 1px 2px rgba(0,0,0,0.5))
    display block
    float left
    margin-right 15px
    border-box()

/// List
ul.list
  list-style-type none
  padding 0

/// Login

div.login
  h1.failed
    display none
    color red

  // &.failed
  //   h1.default
  //     display none
  //   h1.failed
  //     display block

/// Course list
ul.course-list
  list-style-type none
  margin-top 20px
  margin-bottom 20px
  font-size 14px
  font-weight 500
  text-shadow 0px 1px 1px #000

  li
    padding 1px 0 2px 30px
    background url(images/course.png) no-repeat 3px 0px
    cursor pointer
    margin-bottom 15px
    border-box()
    height 20px

    &.add-course
      color #8c8c8c
      background url(images/add-button.png) no-repeat 0px 0px

.edit ul.course-list li:not(.add-course)
  background url(images/delete-button.png) no-repeat 0px 0px

/// Add course
/// ---------------------------------------------------------------------------
li.add-course
  input
    display none
    background transparent
    border-radius(3px)
    border 1px solid #666
    padding 3px 5px 3px 5px
    font-size 14px
    font-weight 500
    text-shadow 0px 1px 1px #000
    color #fff
    position relative
    top -4px
    left -6px
  input::-webkit-input-placeholder
    color #888
    opacity 0.5
  span
    display block

  &.active
    input
      display block
    span
      display none

/// Course info
/// ---------------------------------------------------------------------------
infoHeight = 450px
infoWidth = 600px
div.course-info
  position fixed
  width infoWidth
  height infoHeight
  top 50%
  left 50%
  margin-top -(infoHeight/2)
  margin-left -(infoWidth/2)
  background #fff
  text-align center
  font-size 30px
  box-shadow(0px 2px 20px rgba(0,0,0,0.3))

/// Presentation status
/// ---------------------------------------------------------------------------
div.presentation-status
  position fixed
  top 0
  left 0
  right 0
  padding 10px
  height 15px
  vbg-gradient(#5b80be, #4065a3)
  color #99b3e0
  z-index 100
  font-weight 500
  text-shadow 0px 1px 0px rgba(0,0,0,0.3)
  // box-shadow(0px 1px 1px rgba(0,0,0,0.3))

  .left
    float left

  .right
    float right
    width auto

.halfling
  .presentation-status
    left halflingMargin

/// Question list
/// ---------------------------------------------------------------------------

numberSize = 35px
buttonColor = lighten(#797979, 20)
buttonPrimaryColor = #4e76b8
.page ul.question-list
  margin-top 15px

  li
    margin-bottom 25px

  .button
    margin-right 10px
    font-size 11px
    font-weight 600
    color buttonColor
    border 1px solid buttonColor
    padding 5px 10px

    &.primary
      color buttonPrimaryColor
      border 1px solid buttonPrimaryColor
      background none

  h3
    font-weight 300
    font-size 16px
    margin-bottom 10px
    color #797979

  div.number
    float left
    margin-right 10px
    background #b2b2b2
    display block
    width numberSize
    height numberSize
    font-size 30px
    font-weight 500
    text-align center
    padding 8px
    color lightPageBackground
    border-radius(50px)

/// Graph container
/// ---------------------------------------------------------------------------

div#graph-container
  background darken(#fff, 2)
  padding 20px 20px 10px 20px
  inset-box-shadow(0px 2px 4px rgba(0,0,0,0.3))
  border-bottom 1px solid #fff

/// Comments
/// ---------------------------------------------------------------------------

div.comments
  margin-top 20px

  div.comment
    img.avatar
      width 45px
      float left
      font-size 12px
      margin-top 5px

    h3
      font-size 13px

    div.content
      background #fff
      margin-left 60px
      padding 10px 15px
      box-shadow(0 2px 4px rgba(0,0,0,0.3))
      position relative

      triangleWidth = 13px
      triangleHeight = 20px
      div.triangle
        position absolute
        width triangleWidth
        height triangleHeight
        background url(/images/comment-triangle.png)
        left -(triangleWidth)
        top 16px

/// Student Question
/// ---------------------------------------------------------------------------

div.page.student-question
  padding 0
  background #f4f6f7

  div.content
    padding 20px

  div.header
    vbg-gradient(#258ad0, #0772bd)
    padding 12px 15px
    text-align center
    font-size 13px
    text-transform uppercase
    font-weight 500
    color #fff
    text-shadow 0px -1px 0px #000

ul.options
  background #fff
  padding 0
  list-style-type none
  font-size 14px
  font-weight 500
  border 1px solid #dbe1e4
  border-radius(5px)
  margin-top 10px

  li
    padding 15px 20px
    border-bottom 1px solid #dbe1e4

    &.active
      vbg-gradient(#258ad0, #0772bd)
      color #fff

    &:first-child
      border-radius(5px 5px 0 0)

    &:last-child
      border-bottom none
      border-radius(0 0 5px 5px)

div.comment-form
  margin-top 20px

.button.primary
  background #258ad0 !important
  border none !important

div.info
  font-size 15px
  color #555