@import './mixin'

// Layout
// ----------------------------------------------------------------------------

*
  margin 0

html, body
  height 100%
  
.page
  min-height 100%
  height auto !important
  height 100%
  padding 20px
  color #eee

body
  background url(/images/linen.jpg)

div.login-status
  position absolute
  top 10px
  right 10px

div.buttons
  position fixed
  bottom 30px

  a.button
    margin-right 10px

h1.error
  text-align center
  position fixed
  top 30%
  width 100%
  font-weight 600
  color darken(#393A3C, 10)
  text-shadow 0 1px 0px rgba(255, 255, 255, 0.15)

// Typo
// ----------------------------------------------------------------------------

body, input
  font-family 'Helvetica Neue', 'Helvetica', 'Arial'
  font-size 13px

h1
  font-weight 400

a
  color #fff

// Elements
// ----------------------------------------------------------------------------

// Forms
form
  div.line
    padding 5px
    
    label
      width 100px
      float left
      padding-top 14px
    
    input
      padding 10px
      width 150px
      
// Buttons
.button
  background #3F6AC2
  border none
  font-size 14px
  font-weight 400
  color #fff
  padding 10px 15px
  cursor pointer

// Views
// ----------------------------------------------------------------------------

// Login
div.login
  background #fff
  box-shadow(2px 2px 15px rgba(0,0,0,0.5))
  position absolute
  left 50%
  margin-left -150px
  margin-top 200px
  width 300px
  color #000
  padding 10px
  
  h1
    text-align center
    margin 0

div.login
  h1.failed
    display none
    color red

  &.loading
    background #fff url('/images/loader.gif') no-repeat center center
    
    form
      visibility hidden
    
  &.failed
    h1.default
      display none
    h1.failed
      display block