if question
  if question.isSubmitted
    div Thank you, please wait for the next question.
  else
    form
      h2= question.description
      each option in options
        div
          input(type='radio', name='option_ids[]', value=option.id)
          label= option.text
      div
        input.button(type='submit')

else
  div Please wait for the next question.