if question
  if question.isSubmitted
    div.info Thank you, please wait for the next question.
  else
    form
      h1= question.description
      ul.options
        each option in options
          li.option('data-id'=option.id)= option.text

else
  div Please wait for the next question.