div.box
  h1 Presenter sign up

  form
    div.line
      label Username
      input(type='text', name='username')
    div.line
      label Full name
      input(type='text', name='fullname')
    div.line
      label Password
      input(type='password', name='password')
    div.line
      label Email
      input(type='text', name='email')
    div.line.center
      input.button(type='submit')

a.boxlink(href='#/login') Cancel