h1 Sign up for Riddle

div.error

form
  div.line
    label Username
    input(type='text', name='username')
  div.line
    label Full name
    input(type='text', name='fullname')
  div.line
    label Password
    input(type='password', name='password')
  div.line
    label Email
    input(type='text', name='email')
  div.line
    label
    input.button(type='submit')
  div.line
    label
    a.registration(href='#/login') Cancel