div.box
  h1.default Presenter login
  h1.failed Login failed

  form
    div.line
      label Username
      input(type='text', name='username')
    div.line
      label Password
      input(type='password', name='password')
    div.line.center
      input.button(type='submit')

a.boxlink.registration(href='#') Sign up for Riddle