h1.default Login to Riddle
h1.failed Login failed

form
  div.line
    label Username
    input(type='text', name='username')
  div.line
    label Password
    input(type='password', name='password')
  div.line
    label
    input.button(type='submit')